*.hpp~
*.cpp~
*.cpp.swp
*.cpp.swo
*.hpp.swp
*.hpp.swo
src/core/build/
src/core/build/*
/*/*/CMakeFiles/
src/core/build/CMakeFiles/
src/core/build/CMakeFiles/*

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

*.log
*.*.swp
CMakeFiles/
CMakeFiles/*
build/
bulid/*
/*/*/build/
src/.deps/*
src/.deps/
src/**/.deps/
src/**/.libs/
autom4te.cache/*
autom4te.cache/
build-aux/*
build-aux/
src/.deps/*
src/.deps/
src/.libs/*
src/.libs/
Makefile
Makefile.in
aclocal.m4
config.h
config.h.in
config.log
config.status
configure
libtool
stamp-h1
!*.cpp
!*.hpp
!*.am
!*.ac
!*.sh
log/*
log/
tmp/
tmp/*
*.cpp~
*.hpp~
*.Po
